<div class="form-group row">
  <label for="voltage-after" class="col-sm-8 col-form-label">Napon nakon servisa [V]:</label>
  <div class="col-sm-4">
    <input type="number" class="form-control form-control-sm" id="voltage-after" name="voltageAfter" placeholder="" min="0" max="16" step="0.01" required>
  </div>
</div>
<div class="form-group row">
  <label for="charge-after" class="col-sm-8 col-form-label">Stanje napunjenosti [%]:</label>
  <div class="col-sm-4">
    <input type="number" class="form-control form-control-sm" id="charge-after" name="chargeAfter" placeholder=""  min="0" max="100" required>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-1" >1. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-1" name="fda1" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-1" >Nivo elekrolita?</label>
    <select name="lla1" class="form-control form-control-sm" id="liquid-level-after-1" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-1" >Zamućena?</label>
    <select name="tca1" class="form-control form-control-sm" id="turbid-cell-after-1" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-2" >2. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-2" name="fda2" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-2" >Nivo elekrolita?</label>
    <select name="lla2" class="form-control form-control-sm" id="liquid-level-after-2" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-2" >Zamućena?</label>
    <select name="tca2" class="form-control form-control-sm" id="turbid-cell-after-2" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-3" >3. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-3" name="fda3" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-3" >Nivo elekrolita?</label>
    <select name="lla3" class="form-control form-control-sm" id="liquid-level-after-3" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-3" >Zamućena?</label>
    <select name="tca3" class="form-control form-control-sm" id="turbid-cell-after-3" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-1" >4. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-4" name="fda4" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-4" >Nivo elekrolita?</label>
    <select name="lla4" class="form-control form-control-sm" id="liquid-level-after-4" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-4" >Zamućena?</label>
    <select name="tca4" class="form-control form-control-sm" id="turbid-cell-after-4" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-5" >5. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-5" name="fda5" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-5" >Nivo elekrolita?</label>
    <select name="lla5" class="form-control form-control-sm" id="liquid-level-after-5" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-5" >Zamućena?</label>
    <select name="tca5" class="form-control form-control-sm" id="turbid-cell-after-5" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-after-1" >6. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-after-6" name="fda6" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-after-6" >Nivo elekrolita?</label>
    <select name="lla6" class="form-control form-control-sm" id="liquid-level-after-6" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-after-6" >Zamućena?</label>
    <select name="tca6" class="form-control form-control-sm" id="turbid-cell-after-6" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>

<!-- <label for="voltage-after" class="fluid-dens">Napon na prijemu [V]:</label>
<input type="number" id="voltage-after" placeholder="" name="voltageAfter" min="0" max="16" step="0.01"><br />
<label for="charge-after" class="fluid-dens">Stanje napunjenosti [%]:</label>
<input type="number" id="charge-after" name="chargeAfter" placeholder="" min="0" max="100"><br />
<label for="fluid-densitiy-after-1" class="fluid-dens">1. ćelija:</label>
<input type="number" id="fluid-density-after-1" name="fda1" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-1" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla1" id="liquid-level-after-1">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-1" class="fluid-dens">Zamućena?</label>
<select name="tca1" id="turbid-cell-after-1">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br>
<label for="fluid-densitiy-after-2" class="fluid-dens">2. ćelija:</label>
<input type="number" id="fluid-density-after-2" name="fda2" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-2" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla2" id="liquid-level-after-2">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-2" class="fluid-dens">Zamućena?</label>
<select name="tca2" id="turbid-cell-after-2">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br>
<label for="fluid-densitiy-after-3" class="fluid-dens">3. ćelija:</label>
<input type="number" id="fluid-density-after-3" name="fda3" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-3" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla3" id="liquid-level-after-3">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-3" class="fluid-dens">Zamućena?</label>
<select name="tca3" id="turbid-cell-after-3">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br>
<label for="fluid-densitiy-after-4" class="fluid-dens">4. ćelija:</label>
<input type="number" id="fluid-density-after-4" name="fda4" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-4" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla4" id="liquid-level-after-4">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-4" class="fluid-dens">Zamućena?</label>
<select name="tca4" id="turbid-cell-after-4">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br>
<label for="fluid-densitiy-after-5" class="fluid-dens">5. ćelija:</label>
<input type="number" id="fluid-density-after-5" name="fda5" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-5" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla5" id="liquid-level-after-5">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-5" class="fluid-dens">Zamućena?</label>
<select name="tca5" id="turbid-cell-after-5">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br>
<label for="fluid-densitiy-after-6" class="fluid-dens">6. ćelija:</label>
<input type="number" id="fluid-density-after-6" name="fda6" placeholder="Gustina" min="1" max="1.4" step="0.01">
<label for="liquid-level-after-6" class="fluid-dens">Nivo elekrolita?</label>
<select name="lla6" id="liquid-level-after-6">
  <option value="Dovoljan">Dovoljan</option>
  <option value="Nedovoljan">Nedovoljan</option>
</select>
<label for="turbid-cell-after-6" class="fluid-dens">Zamućena?</label>
<select name="tca6" id="turbid-cell-after-6">
  <option value="Nije zamućen">Ne</option>
  <option value="Zamućen">Da</option></select><br> -->