<div class="form-group row">
  <label for="voltage-before" class="col-sm-8 col-form-label">Napon na prijemu [V]:</label>
  <div class="col-sm-4">
    <input type="number" class="form-control form-control-sm" id="voltage-before" name="voltageBefore" placeholder="" min="0" max="16" step="0.01" required>
  </div>
</div>
<div class="form-group row">
  <label for="charge-before" class="col-sm-8 col-form-label">Stanje napunjenosti [%]:</label>
  <div class="col-sm-4">
    <input type="number" class="form-control form-control-sm" id="charge-before" name="chargeBefore" placeholder=""  min="0" max="100" required>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-1" >1. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-1" name="fdb1" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-1" >Nivo elekrolita?</label>
    <select name="llb1" class="form-control form-control-sm" id="liquid-level-before-1" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-1" >Zamućena?</label>
    <select name="tcb1" class="form-control form-control-sm" id="turbid-cell-before-1" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-2" >2. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-2" name="fdb2" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-2" >Nivo elekrolita?</label>
    <select name="llb2" class="form-control form-control-sm" id="liquid-level-before-2" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-2" >Zamućena?</label>
    <select name="tcb2" class="form-control form-control-sm" id="turbid-cell-before-2" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-3" >3. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-3" name="fdb3" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-3" >Nivo elekrolita?</label>
    <select name="llb3" class="form-control form-control-sm" id="liquid-level-before-3" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-3" >Zamućena?</label>
    <select name="tcb3" class="form-control form-control-sm" id="turbid-cell-before-3" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-1" >4. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-4" name="fdb4" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-4" >Nivo elekrolita?</label>
    <select name="llb4" class="form-control form-control-sm" id="liquid-level-before-4" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-4" >Zamućena?</label>
    <select name="tcb4" class="form-control form-control-sm" id="turbid-cell-before-4" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-5" >5. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-5" name="fdb5" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-5" >Nivo elekrolita?</label>
    <select name="llb5" class="form-control form-control-sm" id="liquid-level-before-5" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-5" >Zamućena?</label>
    <select name="tcb5" class="form-control form-control-sm" id="turbid-cell-before-5" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="form-group col-md-4">
    <label for="fluid-densitiy-before-1" >6. ćelija:</label>
    <input type="number" class="form-control form-control-sm" id="fluid-density-before-6" name="fdb6" placeholder="Gustina" min="1" max="1.4" step="0.01" required>
  </div>
  <div class="form-group col-md-4">
    <label for="liquid-level-before-6" >Nivo elekrolita?</label>
    <select name="llb6" class="form-control form-control-sm" id="liquid-level-before-6" required>
      <option value="Dovoljan">Dovoljan</option>
      <option value="Nedovoljan">Nedovoljan</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="turbid-cell-before-6" >Zamućena?</label>
    <select name="tcb6" class="form-control form-control-sm" id="turbid-cell-before-6" required>
      <option value="Nije zamućen">Ne</option>
      <option value="Zamućen">Da</option>
    </select>
  </div>
</div>